<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Media</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">
            <button type="button">Accueil</button>
        </a>
        <a href="{% url 'staff_page' %}">
            <button type="button">Liste des médias et emprunteurs</button>
        </a>
    </nav>

    <h1>Modifier {{ media_type|capfirst }}</h1>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
