<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">
            <button type="button">Accueil</button>
        </a>
        <a href="{% url 'staff_page' %}">
            <button type="button">Liste des médias et emprunteurs</button>
        </a>
    </nav>

    <p>Ajouter un média !</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
</body>
</html>